body {
	background-color: #3c3c3c
}

.navbar-inverse {
	box-shadow: 0 -0.2em 3em rgba(0,0,0,.75);
    margin-top: .5em;
}
.navbar-inverse a.navbar-brand {
    font-family: fantasy;
    font-size: 2.5em;
    color: #40B89A;
    text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.75);
    transition: color .4s;
}
.movie-tile h2 {
	font-size: 1.4em;
	color: white;
}
.movie-tile {
    background-color: #3c3c3c;
    transition: background-color .6s, transform .6s;
}
.movie-tile:hover {
    background-color: #333;
    transform: translateY(-1em);
    cursor: pointer;
}

.movie-tile::after {
    box-shadow: -0.25em 0.7em 1em 0 rgba(0,0,0,0.5);
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.movie-tile:hover::after {
    opacity: 1;
}

.movie-tile img {
    opacity: .85;
    transition: opacity .4s;
    box-shadow: -0.1em 0 0.5em 0.1em rgba(0,0,0,.2);
}
.movie-tile:hover img {
    opacity: 1;
}
